<div id="gridContainer_<%= q.id %>" width="500px" height="100px"></div>

<script>
var qid = "<%= q.id %>";
var vote_data = gon.rqre_votes;
var grid_data = [];

var vi = 1;
var ans = "";
    for (let v = 0; v < vote_data[qid].length; v++){
        ans = vote_data[qid][v].trim();
        console.log (ans);
        if (ans != "") {
            var rec = [];
            rec.push(vi);
            rec.push(ans);
            grid_data.push(rec);
            vi = vi + 1;
        }
    }

new gridjs.Grid({
  columns: ['No.', 'answer'],
  data: grid_data,
}).render(document.getElementById('gridContainer_' + qid));

</script>