
/*------------ plugin settings -----------------*/
.rqre.abstract {
    background: aliceblue;
    max-width: 1200px;
    padding: 20px;
}

.rqre.question {
    max-width: 1000px;
    padding: 20px;
}

.rqre > div.wrapper {
    clear: both;
}

.rqre label {
    font-weight: bold;
    padding-right: 10px;
}

.rqre div.right {
    float: right;
    padding-left: 20px;
    width: 20%;
}

.rqre div.wiki {
    padding-left: 20px;
}

.rqre div.qform {
    padding-left: 40px;
}

/* modal form */
.rqre_saveModal { display: none; }

.rqre_saveModal form label { float: left; width: 140px; text-align:left;}

.formLayout
{
    padding: 10px;
    overflow: hidden;
}
 
.formLayout label, .formLayout input, .formLayout select
{
    display: block;
    float: left;
    margin-bottom: 10px;
}

.formLayout label
{
    width: 140px;
    text-align: right;
    padding-right: 20px;
}

.formLayout input, .formLayout select 
{	
    width: 200px;
}